body{
    image-rendering: pixelated;
    margin: 0;
    padding: 0;
    background-color: #000;
    align-items: center;
    font-family: Pixeloid Sans, sans-serif;
    overflow: hidden;
}
.sky{
    width: 100vw;
    height: 75vh;
    background-color: purple;
    display: flex;
    position: relative;
    top: 12vh;
    justify-content: center;
    align-items: center;
    filter: hue-rotate(0deg);
    overflow: hidden;
}
.little-planet{
    width: 725px; height: 720px;
    background: url('img/preplanet_sprites.png') -8px -8px;
    z-index: 1;
}
.ovni{
    background-image: url('img/ovni.png');
    background-size: cover;
    width: 95px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: -20%;
    left: -2%;
}

.tails{
    background: url(img/tails-sprites.png);
    position: absolute;
    width: 1080px;
    height: 720px;
    z-index: 3;
}