body{
    image-rendering: pixelated;
    margin: 0;
    padding: 0;
    background-color: #000;
    align-items: center;
    font-family: "SonicMenuFont", sans-serif;
    overflow: hidden;
}
.sky{
    width: 100vw;
    height: 75vh;
    background-color: purple;
    display: flex;
    position: relative;
    top: 12vh;
    justify-content: center;
    align-items: center;
    filter: hue-rotate(0deg);
    overflow: hidden;
}
.little-planet{
    width: 725px; height: 720px;
    background: url('img/preplanet_sprites.png') -8px -8px;
    z-index: 1;
}
.ovni{
    background-image: url('img/ovni.png');
    background-size: cover;
    width: 95px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: -20%;
    left: -2%;
}

.tails{
    background: url(img/tails-sprites.png);
    position: absolute;
    width: 1080px;
    height: 720px;
    z-index: 3;
}

/* tela de carregamento */
.sonic-loading{
  background: url(img/sonicLoading-sprites.png);
  /* background-position: -2964px -10px; */
  width: 600px;
  height: 700px;
  position: relative;
  transform: scale(0.3);
}

.sonic-overlay {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #000000; 
  text-align: center;
  align-items: center;
  justify-content: center;
  /* A animação: dura 1.5s, dividida em 4 blocos de cor */
  /* animation: megaDriveFade 1s steps(4) forwards; */
  pointer-events: none; /* Garante que você possa clicar no que está atrás */

  /* Texto: */
  h2{
    color:white;
    /* margin-top: 20rem; */
  }
  h5{
    color: gray;
    position: absolute;
    left: 50%;
    bottom: 1px;
    transform: translate(-50%);
  }
}

  /* Toca-discos */
  .music-picker{
    position: absolute;
    bottom: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100vw;
    height: 13vh;
    background-color: aqua;
    z-index: 4;
    overflow: hidden;
  }

  .music-picker .track{
    position: relative;
    display: flex;
    top: 50%;
    transition: transform 0.5s;
    transform: translate(0vw);
    font-size: 3vh;
  }

/* animações */
@keyframes megaDriveFadeIn {
  0% {
    opacity: 1;
    background-color: #000000; /* Começa no preto */
  }
  50% {
    opacity: 0.5;
    background-color: #0036e7b0; /* Fica invisível */
  }
  100% {
    opacity: 0;
    background-color: transparent; /* Fica invisível */
  }
}
@keyframes megaDriveFadeOut {
  from {
    opacity: 1;
    background-color: #000000; /* Começa no preto */
  }
  to {
    display: none;
  }
}


/* fontes */
@font-face {
  font-family: "SonicMenuFont";
  src: url(fonts/sonic-cd-menu-font.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Texts";
  src: url(fonts/Pix32);
  font-weight: normal;
  font-style: normal;
}